
    .Watchlist{
        width: 100%;
        background-image: linear-gradient(0deg,grey 25%,black);
    }
    
    
    .owned-table{
        border: 1px solid ;
        margin:auto;
    }
    
    .owned-th{
        border: 1px solid grey;
        color: lightgray;
    }
   
    .owned-Td{
        border: 1px solid grey;
        color: white;
    }
    
    .owned-table-positive{
        border: 1px solid grey;
        color: rgb(0 202 0);
    }
    
    .owned-table-negative{
        border: 1px solid grey;
        color: red;
    }

    .buy-sell-button{
        background-color: rgb(0 202 0);
        border-radius: 3px;
    }
    
    .watchlist-footer{
        margin-top:12%;
        font-size: 2vh;
    } 

    .trade-owned{
        margin:auto;
        background-color: lightgray;
        color: black;
    }
        
/* ***@media(min-width: 750px)*** */
@media(min-width:750px){
.Watchlist{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(355deg,grey 30%,black);
}

.owned-table{
    width:92.5%;
    border: 1px solid grey;
    margin:auto;
}

.owned-th{
    width: 1vw;
    border: 1px solid grey;
    color: lightgray;
}

.owned-td{
    width: 1vw;
    border: 1px solid grey;
    color: white;
}

.owned-table-positive{
    border: 1px solid grey;
    color: yellowgreen;
}

.owned-table-negative{
    border: 1px solid grey;
    color: red;
}

.buy-sell-button{
    background-color: rgb(0 202 0);
    border-radius: 3px;
    margin: 1vh 0 1vh 0;
}

.buy-sell-button:hover{
    cursor: pointer;
}

.watchlist-footer{
    margin-top:29%;
}

.trade-owned{
    margin:auto;
    background-color: lightgray;
    color: black;
}
} 
