   .pending-purchase-title{
        color: silver;
        margin-top: 0;
    }

    .pending-sales-title{
        color: silver;
    }

    .pending-table{
        margin-top:2vh;
    }
    
    .pending-th{
        border: 1px solid grey;
        color: lightgray;
    }
   
    .pending-td{
        border: 1px solid grey;
        color: white;
    }
    
    .pending-cancel-button{
        background-color: red;
        font-weight: 600;
        border-radius: 3px;
    }

    .watchlist-footer{
        margin-top:12%;
        font-size: 2vh;
    } 
        
/* ***@media(min-width: 750px)*** */
@media(min-width:750px){
.Watchlist{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(355deg,grey 30%,black);
}

.pending-table{
    width:92.5%;
    border: 1px solid grey;
    margin:auto;
    table-layout: fixed;
}

.pending-th{
    /* width: 1vw; */
    border: 1px solid grey;
    color: lightgray;
}

.pending-td{
    /* width: 1vw; */
    border: 1px solid grey;
    color: white;
}

.pending-cancel-button{
    background-color: red;
    font-weight: 600;
    margin: 1vh 0 1vh 0;
    border-radius: 3px;

}

.pending-cancel-button:hover{
    cursor: pointer;
    color:white;
}

.watchlist-footer{
    margin-top:29%;
}
} 
