    .login{
    height: 100vh;
    background-image: linear-gradient(45deg,grey 30%,black);
    color: silver;
}
    .login-title{
    color: lightgray;
    margin-top: 0;
    padding-top:3vh;
}

.positive{
    color: rgb(0 202 0);
}

.negative{
    color: red;
}

.image-container{
    width: 100%;
    height: 28vh;
    margin-top: 5vh;
}


.centered{
    width: 92.5%;
    margin-top: 5vh;
    color: white;
}
    
    

.login-button{
    margin-top: 8vh;    
    background-color: black;
    box-shadow: 12px -8px 4px rgba(0,0,0,0.5);
    border-radius: 3px;
    color: silver;
}

.login-footer{
    margin-top: 5vh;
    font-size: 8px;
    color: black;
}

/* ****@media(min-width:750px)**** */

@media(min-width:750px){
    .login-title{
    color: white;
    font-size: 4vw;
    }

    .centered{
        width: 92.5%;
        margin-top: 15vh;
        font-size: 3vw;
        }

    .login-image{
        background-image: url('https://s3-us-west-1.amazonaws.com/tradingwheelsinvestments/Bull.jpg');
        filter:blur(8px);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

.login-content{
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
}

    .image-container{
    height: 34vh;    
    }

    .login-button{
    top: 20%;    
    background-color: black;
    box-shadow: 12px -8px 4px rgba(0,0,0,0.8);
    border-radius: 3px;
    height: 6vh;
    width: 9vw;
    font-size: 1vw;
    font-weight: 700;
    color:silver;
    }

    .login-button:hover{
        cursor: pointer;
    }

    .login-footer{
    margin-top: 5vh;
    font-size: 12px;
    color: white;
    }
}