.trade-nonowned-confirm{
    height: 150vh;    
    background-image: linear-gradient(0deg,grey 10%,black);
    width: 100%;
    text-align: inherit;
}

.confirm-statement-no{
    color: silver;
    font-size: 5.5vh;
    margin: 0;
    padding-top:15vh;
}

.stripe-nonowned{
    margin-top: 6vh;
}

@media(min-width:750px){
.trade-nonowned-confirm{
    text-align:inherit;
    height: 178vh;    
    background-image: linear-gradient(0deg,grey 30%,black);
    width: 100%;
}

ul.checkmark li:before{
    background-color: rgb(0 202 0);
    font-size: 100px;
    content:'';
    display: block;
    border: solid .8em rgb(0 202 0); 
    border-radius: 1000px;
    height: 30%;
    width: 15%;
    position: absolute;
    left: 38%;
    top: 10%;
    margin-top: -3vh;
}

ul.checkmark li:after{
    content: '';
    display: block;
    width: 12vw;
    height: 14vh;
    border: solid white;
    border-width: 0 4em 4em 0;
    position: absolute;
    left: 42%;
    margin-top: 6%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(49deg);
}
.confirm-statement-no{
    color: silver;
    font-size: 8vh;
    margin: 0;
    padding-top:15vh;
}

.stripe-nonowned{
    margin-top: 6vh;
}
}